{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Confirm Delete: {{ review.title }}{% endblock %}

{% block content %}
  <h1>Confirm Delete: {{ review.title }}</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    Are you sure you want to delete the review "<em>{{ review.title }}</em>"?
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" value="Submit">Delete</button>
      </div>
    </div>
  </form>
{% endblock %}
